*.pyo
*.pyc
django.mo
.directory
.project
.pydevproject
.settings
*.mo
*.egg-info
*.swp
localsettings.py
epm/static
epm/media
epm/test_media
install/config.py
.Python
.installed.cfg
config.cfg
bin
lib
include
parts
geany_run_script.sh
.coverage
htmlcov
