body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #2C4F57;
    background: rgba(255, 255, 255, 0.25) url('/static/img/bg.jpg');
    width: 100%;
}

header {
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 47px -20px #C3C3C3;
    height: 110px;
    line-height: 110px;
    margin-bottom: 1em;
    font: 0/0 a;
}

header:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header img {
    height: 80%;
    vertical-align: middle;
    display: inline-block;
}

h1, h2, h3, h4 {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    line-height: 150%;
}

h2 {
    text-align: center;
    font-size: 1.55em;
    margin-top: 0em;
    margin-bottom: 1em;
    color:#01b5da;
}

h3 {
    text-align: center;
    font-size: 1.35em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h4 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.5em;
}

ul {
    list-style: none;
}

ul li {
    padding: 0.25em 0;
}

ul.news {
    text-align: center;
}

.row > .col-lg-6:first-child {
    border-right: 1px solid #CECECE;
}

.tan ul:first-child {
    text-align: right;

}

.angular-leaflet-map,
#properties {
    height: 400px;
}

#properties {
    position: relative;
}

#properties .teaser {
    font-size: 0.6em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer {
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: -20px 0px 47px 0px #C3C3C3;
    line-height: 40px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 1920px;
}


/* Override carousel */
.carousel-caption {
    position: static;
    color: #000;
    text-shadow: none;
    padding: 0;
}

.carousel-image {
  padding-left: 0;
  text-align: left;
}

.carousel-image img {
    max-width: 100%;
}

.carousel-caption p {
    font-size: 0.6em;
    text-align: justify;
}

.carousel-control.left,
.carousel-control.right,
.carousel-indicators {
    display: none;
}

@media (max-width: 1280px) {

    body {
        font-size: 20px;
    }

    header {
        height: 60px;
    }

    .angular-leaflet-map,
    #properties {
        height: 300px;
    }

    footer {
        width: 1280px;
    }

}